<div class="container-fluid bg-light main">
    <app-logo></app-logo>
    <app-navbar></app-navbar>
    <div class="d-flex justify-content-between" >
      <h4>
        Summary
      </h4>
      <div>
        <input type="date" name="" id="">
      </div>
    </div>
    <div class="sub-main1">
      <app-details></app-details>
    </div>
    <div class="sub-main2" >
      <app-cashcard></app-cashcard>
    </div>
    <div class="shadow sub-main3">
      <app-cashsummary></app-cashsummary>
    </div>
    <div class="sub-main4" >
      <app-table1></app-table1>
    </div>
    <div class="sub-main5">
      <app-table2></app-table2>
    </div>
    <div class="back-b" >
      <button class="btn btn-outline-dark h-40">Back</button>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
</div> 

