<div  style="flex-wrap: wrap;">
    <div class="d-flex justify-content-between flex-wrap">
        <div class="card1 column" >
            <div class="d-flex justify-content-around" >
                <div>
                    <p>Begning Balance</p>
                    <h6>Rs. 20,000</h6>
                </div>
                <div>
                    <i class="fas fa-money-bill-alt m1"></i>
                <i class="fas fa-money-bill-alt m2"></i>
                </div>
            </div>
        </div>
        <div class="card2 column" >
           <div class="row sub-card">
            <div class="col-sm d-flex justify-content-between sub-card1" >
               <div>
                    <p>Going In</p>
                    <h6>Rs. 20,000</h6>
               </div>
                <div>
                    <i class="fas fa-money-bill-alt m1"></i>
                    <i class="fas fa-money-bill-alt m2"></i>
                </div>
            </div>
            <div class="col-sm d-flex justify-content-between" style="padding-left: 20px;">
               <div>
                    <p>Going Out</p>
                    <h6>Rs. 20,000</h6>
               </div>
               <div>
                    <i class="fas fa-money-bill-alt m1"></i>
                    <i class="fas fa-money-bill-alt m2"></i>
               </div>
            </div>
           </div>
        </div>
        <div class="card3 column" >
            <div class="d-flex justify-content-around">
                <div>
                    <p>Ending Balance</p>
                    <h6>Rs. 20,000</h6>
                </div>
                <div>
                    <i class="fas fa-money-bill-alt text-right m1"></i>
                    <i class="fas fa-money-bill-alt m2"></i>
                </div>
            </div>
        </div>
    </div>
</div>