<div class="shadow" style="background-color: white;padding: 20px;" >
  <div class="row d-flex justify-content-between">
        <div class="col-sm a-details column">
            <div>
                <h6>Acc.No: 1234567890QWERTY</h6>
            </div>
            <div>
                <h6>Acc.Holder: Jasdeep Sing </h6>
            </div>
            <div>
                <h6>Bank: HDFC Bank</h6>
            </div>
        </div>
        <div class="col-sm b-details column">
            <div >
                <h6>Branch: Kasturi Nagar Branch</h6>
            </div>
            <div>
                <h6>IFSC: HDFC12345</h6>
            </div>
        </div>
        <div class="col-sm d-flex justify-content-end column" style="margin: auto;justify-content: end;">
            <button class="btn btn-success">Active</button>
        </div>
  </div>
</div>