.btn-success{
    border-radius: 25px 25px 25px 25px;
    width: 130px;
}
.b-details{
  padding-left: 10rem;
}
.a-details{
    padding-left: 5rem;
}
button{
    background-color: rgb(9, 245, 9);
    border: 0px;
}
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }