<div class="shadow bar" >
    <ul class="d-flex justify-content-between flex-wrap" style="width: 80%;">
        <li class="sub-menu d-flex justify-content-between ">
            <i class="fa fa-th-large"></i>
            <h6>Main 1</h6>
        </li>
        <li class="sub-menu d-flex justify-content-between">
            <i class="fa fa-rocket"></i>
            <h6>Main 2</h6>
        </li>
        <li class="sub-menu d-flex justify-content-between ">
            <i class="fa fa-cog"></i>
            <h6>Main 3</h6>
        </li>
        <li class="sub-menu d-flex justify-content-between ">
            <i class="fa fa-rupee-sign"></i>
            <h6>Main 4</h6>
        </li>
        <li class="sub-menu d-flex justify-content-between ">
            <i class="fa fa-file-alt"></i>
            <h6>Main 5</h6>
        </li>
        <li class="sub-menu d-flex justify-content-between ">
            <i class="fa fa-calendar"></i>
            <h6>Main 6</h6>
        </li>
        <li class="sub-menu d-flex justify-content-between ">
            <i class="fa fa-dot-circle"></i>
            <h6>Main 7</h6>
        </li>
        <li class="sub-menu d-flex justify-content-between ">
            <i class="fa fa-clock"></i>
            <h6>Main 8</h6>
        </li>
        <li>
            <div>
                <div class="btn-group">
                    <button type="button" class="btn btn"></button>
                    <button type="button" class="btn btn dropdown-toggle dropdown-toggle-split " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    
</div>